<head>
  title= title
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" title="no title" charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3.6&sensor=false&key=AIzaSyCcKvMLNbnqEMGrs1OEZS8cFqTW7qAq1xM" ></script>
  <script src="/js/geolocation-for-weather.js"></script>

</head>
<body onload="geolocationData()">
<div id="out"></div>
  <main>
  <section>
    <aside class="title">
    </aside>
    <aside>
      <h3>Hip Hop Weather: '90s Edition</h3>
      <h3><span id="city"></span>, <span id="state"></span></h3>
      <h2 id="weather"></h2>
      <h3 id="temp"></h3>
    </aside>
  </section>

    <div class="date clearfix">
      <p id="date"></p>
    </div>
    <article class="fact">
      <h4>On this day in 1993,</h4>
      <p>In 1993, Rashida Jones, then 17, wrote an angry letter to Shakur after he criticized her father, Quincy Jones, for having relationships with white women.</p>
    </article>

  </main>
  <footer>
    <p class="artist-name">Tupac Shakur</p>
    <div class="footer-line">
      </div>
      <a href="#" class="about-link">About</a>
    <!-- <img src="" alt=""> add an svg of the twitter and github icon-->
  </footer>
</body>
