<head>
  title= title
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" title="no title" charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="http://maps.google.com/maps/api/js?v=3.6&sensor=false&key=AIzaSyCcKvMLNbnqEMGrs1OEZS8cFqTW7qAq1xM" ></script>
  <!-- <script src="/lib/weather-client.js"></script> -->
  <script src="/js/geolocation-for-weather.js"></script>

</head>
<body><!-- The today's date, city/state, weather desc, temp, year("this day in" + var year + ",") and artist name is dynamic  -->
  <!-- <h1>Hip Hop Weather: '90s Edition</h1> -->
  <p><button onclick="geolocationData()">Show my location</button></p>
<div id="out"></div>
  <main class="yoweather-pg">
  <form action="" method="get" autocomplete="on">
    <p>City</p><br>
    <input type="text" name="zip-code" value="10153"><br>
    <p>Or</p>
    <p>City and State:</p><br>
    <input type="text" name="city" value="Brooklyn"><br><br>
    <input type="text" name="state" value="New York"><br><br>
    <input type="submit" value="Get my Weather!">
  </form>

  </main>
  <footer>
    <div class="footer-line"></div>
    <a href="#" class="about-link">About</a>
  </footer>
</body>
