@import url(lib/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url("https://fonts.googleapis.com/css?family=Muli:300");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "chuck";
  src: url("../../fonts/Chunk.eot?#iefix") format("embedded-opentype"), url("../../fonts/Chunk.woff") format("woff"), url("../../fonts/Chunk.ttf") format("truetype"), url("../../fonts/Chunk.svg#chuck") format("svg"); }
@font-face {
  font-family: "fresh";
  src: url("../../fonts/the-fresh-prince.eot?#iefix") format("embedded-opentype"), url("../../fonts/the-fresh-prince.woff") format("woff"), url("../../fonts/the-fresh-prince.ttf") format("truetype"), url("../../fonts/the-fresh-prince.svg#fresh") format("svg"); }
h1,
h2,
h3 {
  font-family: "Chuck", serif; }

h1 {
  letter-spacing: 2px; }

.temp {
  font-size: 5em;
  text-align: left;
  margin: 0;
  font-family: "the-fresh-prince", sans-serif;
  color: #FFFFFF;
  padding-bottom: 70px; }

.city {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: .9em;
  letter-spacing: 2px;
  padding-top: 40px;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-align: left; }

.weather {
  margin: 0;
  font-size: 1.2em;
  color: #F1D12F;
  text-align: left;
  font-family: "Montserrat", sans-serif; }

.fact {
  max-width: 420px; }

.fact > h4 {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  font-size: 1.75em;
  color: #44C0FF;
  line-height: 0em; }

.date p {
  border: 2px solid #F1D12F;
  padding: 7px;
  color: #FFFFFF; }

p {
  font-family: "Montserrat", sans-serif;
  text-align: right; }

a.about-link {
  text-decoration: none;
  font-family: "Chuck", serif;
  color: #FFFFFF;
  font-size: 12px; }

/* Breakpoints */
/*-------------------- 320px and up */
/*-------------------- 320px and down */
/*-------------------- 375px and down */
/*-------------------- 600px and up */
/*-------------------- 600px and down */
/*-------------------- 768px and up */
/*-------------------- 1100px and up */
/*-------------------- 1300px and up */
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif; }

main {
  margin-left: 25px;
  margin-right: 25px; }

body {
  width: 100%;
  background-color: #e65f2a;
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: center; }

div p {
  float: right; }

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

section {
  margin: 0 auto;
  text-align: left; }

article {
  font-size: .9em;
  float: right;
  line-height: 23px; }
  article p {
    color: #FFFFFF; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 25px 25px; }

.artist-name {
  color: #FFFFFF;
  font-family: "Chuck", serif;
  padding-top: -20px; }

.footer-line {
  border-top: 8px solid #F1D12F;
  margin-bottom: 10px; }

/*# sourceMappingURL=application.css.map */
