<head>
  <title>Hip Hop Weather: '90s Edition</title>
  <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" title="no title" charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->
</head>
<body><!-- The today's date, city/state, weather desc, temp, year("this day in" + var year + ",") and artist name is dynamic  -->
  <!-- <h1>Hip Hop Weather: '90s Edition</h1> -->
  <main>
  <section>
    <!-- <aside class="title">
    </aside> -->
    <aside>
      <!-- <div class="trans-background"></div> maybe multiple backgrounds-->
      <!-- <h3>May 23rd</h3> -->
      <h3 class="city">Los Angeles, California</h3>
      <h2 class="weather">Sunny</h2>
      <h3 class="temp">98º</h3>
    </aside>
  </section>

    <div class="date clearfix">
      <p>May 22nd</p>
    </div>
    <article class="fact">
      <h4>On this day in 1993,</h4>
      <p>In 1993, Rashida Jones, then 17, wrote an angry letter to Shakur after he criticized her father, Quincy Jones, for having relationships with white women.</p>
    </article>

  </main>
  <footer>
    <p class="artist-name">Tupac Shakur</p>
    <div class="footer-line">
      </div>
      <a href="#" class="about-link">About</a>
    <!-- <img src="" alt=""> add an svg of the twitter and github icon-->
  </footer>
</body>
