/* Breakpoints */

/*-------------------- 320px and up */
$mobile-portrait: new-breakpoint(min-width 20em);

/*-------------------- 320px and down */
$mobile-portrait-down: new-breakpoint(max-width 20em);

/*-------------------- 375px and down */
$mobile-portrait-large-down: new-breakpoint(max-width 375px);

/*-------------------- 600px and up */
$mobile-600: new-breakpoint(min-width 37.5em);

/*-------------------- 600px and down */
$mobile-600-down: new-breakpoint(max-width 37.5em);

/*-------------------- 768px and up */
$tablet-portrait: new-breakpoint(min-width 48em min-device-width 769px);

/*-------------------- 1100px and up */
$desktop-small: new-breakpoint(min-width 56.25em);

/*-------------------- 1300px and up */
$desktop-large: new-breakpoint(min-width 81.25em);
