@import "../lib/neat/neat-helpers";

// Neat overrides
$grid-columns: 12;
// Need to set
// $max-width:;
// $small-screen: em(320);
// $medium-screen: em(640);
// $large-screen: em(960);
// $mobile: new-breakpoint(max-width480px, 12);
