
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

main {
  margin-left: 25px;
  margin-right: 25px;
}


body {
  width: 100%;
    background-color: #e65f2a;
    // background-image:linear-gradient(rgba(255, 255 ,255 , 0), rgba(34, 34, 34, 1)),
    //                  linear-gradient(rgba(230, 205, 54, 0), rgba(201, 158, 25, .5)),
    //                  url('/images/tupac_shakur.jpg');
    // background-blend-mode: l
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
}
div p{
  float: right;
}
.clearfix::after {
   clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
// background-image: linear-gradient(rgba(85, 86, 87, 0), rgba(85, 86, 87, 1)),
//                   linear-gradient(rgba(230, 205, 54, 0), rgba(201, 158, 25, .5)),
//                   linear-gradient(rgba(255, 255 ,255 , 0), rgba(34, 34, 34, 1)),
//                   url('/images/tupac_shakur.jpg');
// .login-bg{ background:linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url("../images/login-bg.png"); }


// ----------------Top Section
section {
  margin: 0 auto;
  text-align: left;
  }

article {
  p {color: $white;}
  font-size: .9em;
  float: right;
  line-height: 23px;
}

// ----------------Footer
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 25px 25px;
}

.artist-name {
  color: $white;
  font-family: $chuck;
  padding-top: -20px;
}

.footer-line {
  border-top: 8px solid $yellow;
  margin-bottom: 10px;
}
