

h1,
h2,
h3,{
  font-family: $chuck;
}
h1 {
  letter-spacing: 2px;
}
.temp {
  font-size: 5em;
  text-align: left;
  margin: 0;
  font-family: $fresh;
  color: $white;
  padding-bottom: 70px
}

.city {
  text-transform: uppercase;
  font-family: $montserrat;
  font-size: .9em;
  letter-spacing: 2px;
  padding-top: 40px;
  color: $white;
  margin-bottom: 10px;
  text-align: left;
}
.weather {
  margin: 0;
  font-size: 1.2em;
  color: $yellow;
  text-align: left;
  font-family: $montserrat;
}
.fact {
  max-width: 420px;
}
.fact > h4 {
  font-weight:normal;
  font-family: $montserrat;
  text-align: right;
  font-size: 1.75em;
  color: $blue;
  line-height: 0em;
}
 .date p {
   border: 2px solid $yellow; padding: 7px;
   color: $white;
 }

p {
  font-family: $montserrat;
  text-align: right;
}


a.about-link {
  text-decoration: none;
  font-family: $chuck;
  color: $white;
  font-size: 12px;
}

// img {
//   // background-image: image();
//   width: 100%;
//   background-size: cover;
// }
