// CLI sass --watch scss:css in the correct directory
// --------------Layout Section
// Breakpoints

// Other Sizes
$left-right-margin: 0em 4em;
$padding: 0 2em;
// --------------Typography Section
// Fonts (can improve performance on the fonts later)
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url("https://fonts.googleapis.com/css?family=Muli:300");
@include font-face("chuck", "../../fonts/Chunk", $file-formats: eot svg ttf woff);
@include font-face("fresh", "../../fonts/the-fresh-prince", $file-formats: eot svg ttf woff);
$fresh: 'the-fresh-prince', sans-serif;
$chuck: 'Chuck', serif;
$montserrat: 'Montserrat', sans-serif;
$muli: 'Muli', sans-serif;

// Font Sizes
// $base-font-size:;
// $date-font-size:;
// $city-state-font-size:;
// $weather-font-size:;
// $temp-font-size:;
// $on-this-day-font-size:;
// $fact-font-size:;

// Line Heights
// $base-line-height:;


// --------------Colors Section
// Font Colors
$white: #FFFFFF;
$yellow: #F1D12F;
$blue: #44C0FF;

// Border

// Background Colors
// $background-overlay:;
// --------------Animations Section
// Animations
